html {
  font-size: 62.5%;
}

body {
  background: white;
}

.App {
  text-align: center;
  color: black;
  background-color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 2.2rem;
  color: white;
}
.App-header h1 {
  font-size: 3.3rem;
}

.App-header button {
  justify-self: flex-end;
  margin: 0 10px;
}

.App-link {
  color: #61dafb;
}

.player-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.player-card {
  width: 200px;
  border: 1px solid black;
  margin: 10px;
  border-radius: 5px;
  padding: 5px;
}

.player-name {
  font-size: 2rem;
  font-weight: bold;
}
.player-country {
  font-style: italic;
  font-size: 1.6rem;
}
.player-searches {
  font-size: 1.6rem;
}

/* Dark Mode adjustments */
.player-list.dark-mode,
.darkable.dark-mode {
  color: white;
  background-color: #282c34;
}

.player-list.dark-mode .player-card {
  border: 1px solid hotpink;
}